/*.container-fluid {
	padding: 0;
}*/

.house{
	width: 960px;
	height: 900px;
	background-size: 100% 100%;
	position: relative;
	background-color: black;
}
.start {
	bottom: 180px;
	width: 33%;
}
.options {
	bottom: 140px;
	width: 33%;
}
.header {
	color: white;
	top: 20px;
}
.options, .start, .header, .hallBackRight, .hallBackLeft, .hallFrontRight, .hallFrontLeft, .back, .key, .invin, .stairsup, .stairsdown, .basementvault, .basementfurnace, .secondfloor, .secondfloorbackleft, .secondfloorbackright, .secondfloorright, .secondfloorleft, .dark, .libraryright, .kitchenleft, .diningright {
	position: absolute;
}
.kitchenleft {
	bottom: 180px;
}
.diningright {
	bottom: 550px;
}
.libraryright {
	bottom: 300px;
}
.invin {
	bottom:880px;
}
.dark {
	bottom: 500px;
	color: white;
}
.secondfloorleft {
	bottom: 260px;
}
.secondfloorbackleft, .secondfloorbackright {
	bottom:350px;
}
.secondfloorright {
	bottom: 300px;
}
.basementvault {
	bottom: 550px;
} 
.basementfurnace {
	bottom: 500px;
}
.hallBackRight {
	top:320px;
}
.hallBackLeft {
	top:220px;
}
.hallFrontRight {
	bottom: 400px;
}
.hallFrontLeft {
	bottom: 350px;
}
.back {
	bottom: 50px;
}
.stairsup {
	bottom: 600px;
}
.stairsdown {
	bottom:300px;
}
.key {
	top: 500px;
	background-color: red;
	padding: 25px;
}
.flashlight {
	bottom: 380px;
	background-color: red;
	padding: 25px;
}
.firstnote {
	bottom: 20em;
	background-color: red;
	padding: 25px;
	width: 50px;
	margin-left: 65px;
	height: 70px
}
.secondnote {
	top: 500px;
	background-color: red;
	padding: 25px;
}
.thirdnote {
	top: 500px;
	background-color: red;
	padding: 25px;
}