/*.container-fluid {
	padding: 0;
}*/

.house{
	width: 960px;
	height: 900px;
	background-size: 100% 100%;
	position: relative;
	background-color: black;
}
.start {
	bottom: 180px;
	width: 33%;
}
.options {
	bottom: 140px;
	width: 33%;
}
.header {
	color: white;
	top: 20px;
}
.options, .start, .header, .hallBackRight, .hallBackLeft, .hallFrontRight, .hallFrontLeft, .back, .key, .invin, .up, .down, .vault, .furnace, .secondfloor, .bedroom, .junkroom {
	position: absolute;
}
.invin {
	bottom:880px;
}
.bedroom {
	bottom:600px;
}
.junkroom {
	bottom: 500px;
}
.vault, .furnace {
	bottom: 500px;
}
.hallBackRight {
	top:320px;
}
.hallBackLeft {
	top:180px;
}
.hallFrontRight {
	bottom: 400px;
}
.hallFrontLeft {
	bottom: 350px;
}
.back {
	bottom: 50px;
}
.up {
	bottom: 600px;
}
.down {
	bottom:200px;
}
.key {
	top: 500px;
	background-color: red;
	padding: 25px;
}
.flashlight {
	bottom: 380px;
	background-color: red;
	padding: 25px;
}
.firstnote {
	bottom: 20em;
	background-color: red;
	padding: 25px;
	width: 50px;
	margin-left: 65px;
	height: 70px
}
.secondnote {
	top: 500px;
	background-color: red;
	padding: 25px;
}
.thirdnote {
	top: 500px;
	background-color: red;
	padding: 25px;
}