.buttonHolder{
	height: 900px;
	width: 960px;
	position: relative;
	bottom: 100%;
}
.forward, .left, .right, .back {
	position: absolute;
}

.right {
	background-color: red;
	color: white;
	font-size: 3em;
	opacity: 0.5;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	height: 50%;
	width: 12%;
	bottom: 25%;
	right: 5%;
}

.left {
	background-color: red;
	color: white;
	font-size: 3em;
	opacity: 0.5;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	height: 50%;
	width: 12%;
	bottom: 25%;
	left: 5%;
}

.back {
	background-color: red;
	color: white;
	font-size: 3em;
	opacity: 0.5;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	height: 12%;
	width: 50%;
	bottom: 5%;
	left: 25%;
}
.forward {
	background-color: red;
	color: white;
	font-size: 3em;
	opacity: 0.5;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	height: 12%;
	width: 50%;
	top: 5%;
	left: 25%;
}

.invin {
	position: absolute;
	top:0;
}

.doorLock {
	position: absolute;
	bottom: 25%;
	left: 10%;
	height: 7%;
	width: 5%;
}

.btn {
	bottom: 200px;
	position: relative;
}

.container-fluid {
	max-width: 960px;
}
/*.size {
	width: 960px;
}
*/
.house{
	width: 960px;
	height: 900px;
	background-size: 100% 100%;
	position: relative;
/*	background-color: black;*/
}
.start {
	bottom: 180px;
	width: 33%;
}
.options {
	bottom: 140px;
	width: 33%;
}
.subHeader {
	position: absolute;
	top :12%;
	left: 45%;
	color:white;
}
.header {
	left: 39%;
	color: white;
	top: 5%;
}
.options, .start, .header, .hallBackRight, .hallBackLeft, .hallFrontRight, .hallFrontLeft, .invin, .stairsup, .stairsdown, .basementvault, .basementfurnace, .secondfloor, .secondfloorbackleft, .secondfloorbackright, .secondfloorright, .secondfloorleft, .dark, .libraryright, .kitchenleft, .diningright, .kitchenhide, .basementhide, .bedroomhide {
	position: absolute;
}
.vaultkey, .death, .key, .secondnote, .thirdnote, .necklace, .firstnote, {
	position: absolute;
}
.firstnote {
	background-color: red;
	width: 15px;
	height: 15px;
	top:0;
}
.dark {
	bottom: 500px;
	color: white;
}
