<img class = "img-responsive house" ng-src = "{{place[0][level]}}">
		

			<div class="buttonHolder">
				<!-- <button class="forward" ng-click="changeRoom(screen.ExitBase); changeURL('/exitbase')" >Forward</button> -->
				<button class="left" ng-click="changeRoom(screen.HallFromDoor); changeURL('/hallfromdoor')" >Turn Left</button>
				<button class="right" ng-click="changeRoom(screen.HallFromLiving); changeURL('/hallfromliving')" >Turn Right</button>
				<button class="back" ng-click="changeRoom(screen.BaseDoor); changeURL('/basedoor')" >Turn Back</button>
			</div>
			<!-- necklace -->
				<div ng-show = "supplycheck(person,'Necklace')" class="necklace" ng-click="collect(items.necklace)" data-toggle="modal" data-target=".bs-item-modal-sm"></div>

				<!-- !supplycheck(person,'Small Key') -->