		<img class = "img-responsive house" ng-src = "{{place[0][level]}}">
<!-- stairs -->
			<div class="buttonHolder">
				<button class="forward" ng-click="changeRoom(screen.Empty); changeURL('/empty'); ghostChance()" >Forward</button>
				<!-- <button class="left" ng-click="changeRoom(screen.UpstairsFromTop); changeURL('/upstairsfromtop')" >Turn Left</button> -->
				<button class="right" ng-click="changeRoom(screen.TopFromUpstairs); changeURL('/topfromupstairs')" >Turn Right</button>
				<button class="back" ng-click="changeRoom(screen.HallFromUpstairs); changeURL('/hallfromupstairs')" >Turn Back</button>
				<img ng-show="dad" class="dadEFU" src="../photos/edited/stuff/dadbehind.png">
				<img ng-show="mom" class="momEFU" src="../photos/edited/stuff/mombehind.png">
				<img ng-show="child" class="childEFU" src="../photos/edited/stuff/childbehind.png">
			</div>