<img class = "img-responsive house" ng-src = "{{place[0][level]}}">		

					<div class="buttonHolder">
				<!-- <button class="forward" ng-click="changeRoom(screen.UpstairsFromGuest); changeURL('/upstairsfromguest')" >Forward</button> -->
				<button class="left" ng-click="changeRoom(screen.HallFromEntertain); changeURL('/hallfromentertain')" >Turn Left</button>
				<!-- <button class="right" ng-click="changeRoom(screen.mainHall3); changeURL('/living')" >Right</button> -->
				<button class="back" ng-click="changeRoom(screen.Entertain); changeURL('/entertain')" >Turn Back</button>
				<button ng-show="hidehole" class="col-xs-1 col-xs-offset-4 hide2" ng-click="changeRoom(screen.Hide7); changeURL('/hide7'); Behind()">HIDE</button>
			</div>

			