<img class = "img-responsive house" ng-src="{{place[0][level]}}"/>
	
		<div class="buttonHolder">
				<button class="forward" ng-click="changeRoom(screen.Door); changeURL('/door')" >Forward</button>
				<button class="left" ng-click="changeRoom(screen.Dining2); changeURL('/dining2')" >Turn Left</button>
				<button class="right" ng-click="changeRoom(screen.BaseDoor); changeURL('/basedoor')" >Turn Right</button>
				<button class="back" ng-click="changeRoom(screen.HallFromDoor); changeURL('/hallfromdoor')" >Turn Back</button>
		</div>