<img class = "img-responsive house" ng-src = "{{place[0][level]}}">
		

			<div class="buttonHolder">
				<button class="forward" ng-click="changeRoom(screen.Living); changeURL('/living')" >Forward</button>
				<button class="left" ng-click="changeRoom(screen.BaseDoor); changeURL('/basedoor')" >Turn Left</button>
				<button class="right" ng-click="changeRoom(screen.Dining2); changeURL('/dining2')" >Turn Right</button>
				<button class="back" ng-click="changeRoom(screen.HallFromLiving); changeURL('/hallfromliving')" >Turn Back</button>
				<img ng-show="dad" class="dadHFD" src="../photos/edited/stuff/dad.png">
				<img ng-show="mom" class="momHFD" src="../photos/edited/stuff/mom.png">
				<img ng-show="child" class="childHFD" src="../photos/edited/stuff/child.png">
				<div data-toggle="modal" data-target=".bs-living-modal-sm" class="livingview"></div>
			
				<div class="modal fade bs-living-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  					<div class="modal-dialog modal-sm">
   						<div class="modal-content">
     						<p>This place is almost musuem like.</p>
    					</div>
  					</div>
				</div>




			</div>

			<!-- blue -->