<img class = "img-responsive house" ng-src="{{place[0][level]}}"/>
	
		<div class="buttonHolder">
				<button class="forward" ng-click="changeRoom(screen.BaseFrom2); changeURL('/basefrom2'); leaveHide()" >Forward</button>
				<!-- <button class="left" ng-click="changeRoom(screen.ExitBase); changeURL('/exitbase')" >Turn Left</button> -->
				<!-- <button class="right" ng-click="changeRoom(screen.mainHall3); changeURL('/living')" >Right</button>
				<button class="back" ng-click="changeRoom(screen.MainHall); changeURL('/hall')" >Back</button> -->
		</div>