<!DOCTYPE html>
<html>
<head>
	<title>Kitchen</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="game.css">
	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
	<script type="text/javascript" src="game.js"></script>
	
</head>
<body>
<div class="container-fluid">
	<div class="row">
	
<!-- kitchen -->
				<button ng-show = "activeRooms === 'kitchen'" class="col-xs-1 col-xs-offset-5 back" ng-click="changeRoom('mainHall')" >Hallway</button>
				<button ng-show = "activeRooms === 'kitchen'" class="col-xs-1 col-xs-offset-1 kitchenleft" ng-click="introClock()" >Dining</button>
				<button ng-show = "activeRooms === 'kitchen' && hidehole" class="col-xs-1 col-xs-offset-8 btn btn-danger kitchenhide" ng-click="changeRoom('closet')" >HIDE</button>
		
	</div>
</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
</body>
</html>