
		<img class = "img-responsive house" ng-src = "{{place[0][level]}}">	
<!-- kitchen -->
			<div class="buttonHolder">
				<!-- <button class="forward" ng-click="changeRoom(screen.mainHall3); changeURL('/living')" >Forward</button> -->
				<button class="left" ng-click="changeRoom(screen.Kitchen2); changeURL('/kitchen2')" >Left</button>
				<button class="right" ng-click="changeRoom(screen.HallFromLiving); changeURL('/hallfromliving')" >Right</button>
			<!-- 	<button class="back" ng-click="changeRoom(screen.mainHall3); changeURL('/living')" >Back</button> -->
			</div>