<img class = "img-responsive house" ng-src = "{{place[0][level]}}">
		

			<div class="buttonHolder">
				<button class="forward" ng-click="changeRoom(screen.StairsTop); changeURL('/stairstop')" >Forward</button>
				<button class="right" ng-click="changeRoom(screen.MainHall); changeURL('/hall')" >Turn Right</button>
				<button class="left" ng-click="changeRoom(screen.Door); changeURL('/door')" >Turn Left</button>
				<button class="back" ng-click="changeRoom(screen.Dining); changeURL('/dining')" >Turn Back</button>
				<div data-toggle="modal" data-target=".bs-lookuppics-modal-sm" class="general"></div>
			
				<div class="modal fade bs-lookuppics-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  					<div class="modal-dialog modal-sm">
   						<div class="modal-content">
     						<p>They are glued to the wall.</p>
    					</div>
  					</div>
				</div>
			</div>