
		<img class = "img-responsive house" ng-src = "../photos/edited/normal/{{activeRooms}}">		
<!-- upstairs -->
				<button class="back" ng-click="changeRoom('library')" >library</button>
				<button class="secondfloorleft" ng-click="changeRoom('stairs')" >Stairs</button>
				<button class="secondfloorbackleft" ng-click="changeRoom('bedroom')" >Bedroom</button>
				<button class="secondfloorbackleft" ng-click="changeRoom('kidsroom')" >Kids Room</button>
				<button class="secondfloorright" ng-click="introPiano()" >Junkroom</button>