	<img class = "img-responsive house" ng-src = "{{place[0][level]}}">		
			<!-- vault -->
			<div class="buttonHolder">
				<button class="forward" ng-click="changeRoom(screen.BedFromTop); changeURL('/bedfromtop')" >Forward</button>
				<button class="left" ng-click="changeRoom(screen.EmptyFromUpstairs); changeURL('/emptyfromupstairs')" >Turn Left</button>
				<button class="right" ng-click="changeRoom(screen.HallFromUpstairs); changeURL('/hallfromupstairs')" >Turn Right</button>
				<!-- <button class="back" ng-click="changeRoom(screen.UpstairsLeft); changeURL('/upstairsleft')" >Turn Back</button> -->
			</div>
				