<img class = "img-responsive house" ng-src = "{{place[0][level]}}">		

					<div class="buttonHolder">
				<button class="forward" ng-click="changeRoom(screen.EmptyFromUpstairs); changeURL('/emptyfromupstairs')" >Forward</button>
				<button class="left" ng-click="changeRoom(screen.GuestFromHall); changeURL('/guestfromhall')" >Turn Left</button>
				<!-- <button class="right" ng-click="changeRoom(screen.mainHall3); changeURL('/living')" >Right</button> -->
				<button class="back" ng-click="changeRoom(screen.EntertainFromHall); changeURL('/entertainfromhall')" >Turn Back</button>
				<img ng-show="dad" class="dadUFH" src="../photos/edited/stuff/dadbehind.png">
				<img ng-show="mom" class="momUFH" src="../photos/edited/stuff/mombehind2.png">
				<img ng-show="child" class="childUFH" src="../photos/edited/stuff/childbehind2.png">
			</div>